# 特に気にせずにファイル名を書けば、同名の全てのファイルが無視される
# ignore_fileを無視
ignore_file

# 行の最後が/ならディレクトリと認識
# 全てのignore_dirというディレクトリを除外
ignore_dir/

# 行の最初に/があると、ルートからのパス依存のファイル、ディレクトリの指定になる
# ルートディレクトリ直下のdir/hoge を除外
dir/hoge

# *は/(スラッシュ)を除くすべての文字に合致する
# .txtファイルを除外
*.txt

# emptyディレクトリ配下のファイルは無視します
/empty/*

# ! は条件の否定 => つまり管理するという意味になる
# ただし、.gitkeepは管理する
!.gitkeep
